.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.inputUser {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.inputUser label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inpinputUser input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.inputUser input:focus {
  outline: none;
  border-color: #4f005f;
}
